<%= form_with model: @article do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %> 
    </div>
    <br>
    <div>
        <%= form.label :content %>
        <%= form.text_area :content %>
        <% article.errors.full_messages_for(:content).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.label :image %>
        <%= form.file_field :images, multiple: true, direct_upload: true %>
    </div>
    <br>
    <div>
        <!-- <%= form.hidden_field :document, value: @article.document.signed_id if @article.document.attached? %> -->
        <%= form.label :document %>
        <%= form.file_field :document, direct_upload: true %>
    </div>
    <br>
    <div>
        <%= form.label :video, "Attach Video" %>
        <%= form.file_field :video, direct_upload: true %>
    </div>
    <br>
    <div>
        <%= form.submit %>
    </div>
<% end %>