<h1>Articles</h1>
<%= render "search_form", article: @article %>
<br>    
<div>
    <% @articles.each do |article| %>
        <div>
            <%= link_to article.title, article %>
        </div>
    <% end %>
</div>
<br><br>
<%= paginate @articles %><br><br>
<%= page_entries_info @articles %>
<br>
<%= link_to "new Article", new_article_path %>


