<h1>Articles</h1>

<h2><%= @article.title %> </h2><p>by: <strong><%= @article.user.username %></strong></p>

<p><%= @article.content %></p>
<div class="container">
  <% if @article.images.attached? %>
    <div class="article-images">
      <% @article.images.each do |image| %>
        <%= link_to url_for(image) do %>
          <% if image.representable? %>
            <%= image_tag image.representation(resize_to_fill: [540, 312]) %>
            <%# image_tag image.representation(resize_to_fill: [540, 312], crop: [50, 25, 440, 258], saver: { quality: 1 }) %>
          <% else %>  
            <%= image_tag image.variant(:thumb) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %><br>
  <% if @article.document.attached? && @article.document.previewable? %>
    <div>
        <%= image_tag @article.document.preview(resize_to_limit: [200, nil]) %>
        <h2>Download link : <%= link_to "Document", url_for(@article.document) %></h2>  
    </div>
  <% end %>
  <% if @article.video.attached? %>
    <div>
      <%= image_tag @article.video.preview(:thumb) %>
      <%= video_tag @article.video, controls: true, width: 500 %>
    </div>
  <% end %>
</div>

<%= link_to "Back", root_path %>&nbsp&nbsp
<% if current_user == @article.user %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-sm btn-link" %>
    <%= button_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %><br>
    <%= link_to "Add New Article", new_article_path %>
<% end %>

<h3>Comments</h3>

<% if @article.comments.any? %>
  <ul>
    <% @article.comments.each do |comment| %>
      <li>
        <strong><%= comment.user.username %>:</strong>
        <%= comment.content %>
        <% if comment.user == current_user %>
          <%= button_to 'Delete', article_comment_path(@article, comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Dont't have any comment.</p>
<% end %>

<% if user_signed_in? %>
  <h4>Post a Comment</h4>
  <%= form_with(model: [@article, Comment]) do |form| %>
    <div>
      <%= form.text_area :content, placeholder: "Write your comment here..." %>
    </div>
    <div>
      <%= form.submit "Post Comment" %>
    </div>
  <% end %>
<% end %>